{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

    <title>Admin-Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'assets/css/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'assets/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'assets/css/startmin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'assets/css/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {% include 'sharedfiles/topnavigation.html' %}
    {% include 'registrar/navigation.html' %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Student Admin Dashboard</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                
                                <div class="col-xs-9 text-right">
                                    <div>{{student_count}} Total Students</div>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <a href="{% url 'ictstudents' %}" style="display:block;">
                                        <div>{{ ict_students }} students in ICT</div>
                                    </a>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <a href="{% url 'business_students' %}" style="display:block;">
                                        <div>{{business}} students in BCOM</div>
                                    </a>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <a href="{% url 'shs' %}" style="display:block;">
                                        <div>{{social_scinces}} students in Health and Social Sciences</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'admissionlist' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View all</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{approval_count}}</div>
                                    <div>Total Approved Students!</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'approvedlist' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Approved</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>  
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'assets/js/metisMenu.min.js' %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static 'assets/js/raphael.min.js' %}"></script>
<script src="{% static 'assets/js/morris.min.js' %}"></script>
<script src="{% static 'assets/js/morris-data.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'assets/js/startmin.js' %}"></script>

</body>
{% include 'sharedfiles/footer.html' %}
</html>

