{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

    <title>Assign Role</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'assets/css/startmin.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        {% include 'sharedfiles/topnavigation.html' %}
        {% include 'admindashboard/navigation.html' %}
        
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="page-header">Assign Role</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                User Information
                            </div>
                            <div class="panel-body">
                                <form role="form" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="userid">Select User</label>
                                        <select class="form-control" name="userid" id="userid">
                                            <option>Select User</option>
                                            {% for userr in userinfo %}
                                            <option value="{{ userr.id }}">{{ userr.first_name }} {{ userr.last_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="role">Select Role</label>
                                        <select class="form-control" name="role" id="role">
                                            <option value="admin">Admin</option>
                                            <option value="registrar">Registrar</option>
                                            <option value="studentadmin">Student Admin</option>
                                            <option value="student">Student</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'assets/js/startmin.js' %}"></script>
</body>
{% include 'sharedfiles/footer.html' %}
</html>
